/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Bell MT', serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  opacity: 0;
  animation: fadeInAnimation 0.5s ease forwards;
}

/* Header */
header {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin-bottom: 0;
  text-align: center;
  flex: 1;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  opacity: 0;
  animation: fadeInAnimation 0.5s ease forwards;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #333, #999);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s ease;
}

nav ul li a:hover::after {
  background-size: 100% 100%;
}

/* Apply static underline to the current page */
header .current-page::after {
  background-size: 100% 100%;
}

/* Styles for Services Section */
.services {
  padding-top: 250px;
  padding-bottom: 100px;
  text-align: center;
}

.services h2 {
  font-size: 40px;
  padding-top: 100px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.services p {
  font-size: 24px;
  margin-bottom: 35px;
  text-align: center;
  font-weight: bold;
}

/* Styles for Image Section */
#image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: hidden;
}

#image-section .container {
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

#image-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: transparent;
  text-align: center;
  font-size: 14px;
  color: #000000;
  padding-top: 300px;
  position: relative;
}

/* CSS for desktop */
.dropdown-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content a {
  margin-right: 20px;
}

/* Media Queries */
@media only screen and (orientation: portrait) {
  header {
    padding: 10px 20px;
  }

  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .header-right {
    flex: 1;
  }

  h1 {
    text-align: center;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin-left: 40px;
  }

  nav ul li a {
    font-size: 24px;
  }

  .services {
    margin-top: 100px;
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .services h2 {
    font-size: 32px;
  }

  .services p {
    font-size: 18px;
  }

  footer {
    padding-top: 150px;
  }
}

@media only screen and (orientation: landscape) {
  header {
    text-align: left; /* Aligner le texte à gauche dans le header */
    padding: 10px 20px;
  }

  h1 {
    text-align: left; /* Aligner le h1 à gauche */
    flex: none; /* Désactiver l'expansion du h1 pour qu'il ne prenne pas tout l'espace disponible */
  }

  .header-right {
    text-align: right; /* Aligner le contenu à droite dans le header */
  }

  nav ul {
    display: inline-block; /* Afficher les éléments de la liste horizontalement */
  }

  nav ul li {
    display: inline-block;
    margin-left: 20px;
    opacity: 0;
    animation: fadeInAnimation 0.5s ease forwards;
  }

  nav ul li a {
    font-size: 24px;
  }

  .services {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  #image-section {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  footer {
    padding-top: 200px;
  }
}
